{% extends "content_base.html" %}
{% block title %}Member Search{% endblock %}
{% block heading %}Member Search{% endblock %}
{% block body %}
<table width="100%" border="1" cellspacing="0" cellpadding="0" bgcolor="#ffffff" bordercolor="#808080">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td>
            <font face="Tahoma, Arial, Helvetica, sans-serif" size="2">
              Enter a five-digit member number. Inquiry is performed against the live CIF.
            </font>
            <form method="post" action="{{ url_for('member_search') }}" autocomplete="off">
              <table border="0" cellspacing="4" cellpadding="2">
                <tr>
                  <td align="right"><font face="Tahoma, Arial, Helvetica, sans-serif" size="2">Member ID</font></td>
                  <td><input type="text" name="fld_001" size="14" maxlength="12"></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input type="submit" value="Search"></td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
